body{
    padding: 0px;
    margin: 0px;
}

.container{
    background: linear-gradient(red, pink);
    padding: 32px;
    height: 100vh; /* Viewport height */
}

.container h1{
    color: linen;
}

.element-list{
    display: flex;
}

.element{
    background: linen;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
}